@model SeriesViewModel
@{
    ViewData["Title"] = Model.Series;
}
<h1>@Model.Series serie numérica</h1>
<p>
    The number at the position @Model.N in the @Model.Series number series is <strong>@Model.Result</strong>.
</p>