<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Autocobro</title>

    <!-- Enlace al CSS -->
    <link rel="stylesheet" href="/css/site.css" />

    <!-- Esto asegura que el CSS se aplique correctamente -->
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: white;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
