@{
    ViewData["Title"] = "Bienvenido";
}

<div class="home-container">
    <img src="~/images/CandG.png" alt="Logo" class="home-logo" />

    <a href="/Checkout" class="start-button">Comenzar</a>
    <br />
    <a href="/Admin" class="admin-button">Admin</a>
</div>
